/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;
}

}

.affix {
  width: inherit; //helped keep the content the same size on fluid layouts
  position: fixed;
  top: 50px;  //height of the nav
}

