<div class="container contacts">
  <hr>
  <div class="row">
    <div class="col"><a href="mailto:quaranto@gmail.com"><i class="far fa-envelope"></i></a></div>
    <div class="col"><a href="/cv"><i class="fas fa-user-md"></i></a></div>
    <div class="col"><a href="http://github.com/bquarant"><i class="fab fa-github"></i></a></div>
    <div class="col"><a href="http://scholar.google.com/citations?user=IUfvCGIAAAAJ"><i class="fas fa-graduation-cap"></i></a></div>
    <div class="col"><a href="http://twitter.com/bquarant"><i class="fab fa-twitter"></i></a></div>
  </div>
  <hr>
</div>
