.introduction{
  text-align: center;
  background-image:;
}

.introduction h6 {
  color: Gray;
}

.contacts {
  text-align: center;
  font-size: 3em;
  color: Gray;
}

.content-icon {
  font-size: 2em !important;
  color: Gray !important;
}

.footer {
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
