/*
This is used in the Rend3zvous Cover Art Example
26 March 2012
*/
svg {
  position: absolute;
  top: 125px;
  width: 1170px;
  z-index: 0;
  font: 10px sans-serif;
}

text.title {
  font: 300 78px Helvetica Neue;
  fill: #666;
}

.rule line {
  stroke: #333;
  stroke-opacity: .1;
  shape-rendering: crispEdges;
}

.rule:first-child line {
  stroke: #000;
  stroke-opacity: 1;
}

rect {
  fill-opacity: .25;
  fill: #e377c2;
}

rect:first-child {
  fill: #1f77b4;
}
