* {font-family: 'Open Sans', sans-serif;}

/* don't print urls */
a:after, a:link:after, a:visited:after { content:" "; }

.title{
	font-weight:bold;
	font-size: 102%;
}

.details{}

.fixed { :100vh; overflow:hidden; background:; }

.scrollit { height:100vh; overflow-y:scroll; background:; }
