/* don't print urls */
a:after, a:link:after, a:visited:after { content:" "; }

.title{
	font-weight:bold;
	font-size: 102%;
}
.details
{

}

html	{
	height: 100%;
	}

body	{
	border-left: 33px solid white ;
	min-height: 100%;
	padding: 10px;
}
		
* html body	{
	height: 100%;
}